@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #00ff4c;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #000000;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 40rem;
    height: 50rem;
    background-color: #00ff4c;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 10px 40px #0000005e;
}

.container h2:after {
    content: "";
    border-right: .2rem solid;
    animation: pulse 1s ease infinite;
}

.div-peso {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-altura {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-peso input {
    width: 20rem;
    height: 3rem;
    border-radius: .8rem;
    padding: .8rem;
    border: none;
    outline: none;
}

.div-altura input {
    width: 20rem;
    height: 3rem;
    border-radius: .8rem;
    padding: .8rem;
    border: none;
    outline: none;
}

.div-peso input:hover,
.div-altura input:hover {
    border: solid .1rem #000000;
}

.container button {
    width: 20rem;
    height: 3rem;
    border-radius: .8rem;
    border: none;
}

.container button:hover {
    border: solid .1rem #000000;
}

label {
    color: #000000;
    margin-left: .6rem;
    margin-bottom: .6rem;
    font-weight: 600;
}

span {
    opacity: 50%;
}

@media (min-height: 768px) {
    .container {
        max-height: 40rem;
    }
}

@keyframes pulse {
    0% {
        .container h2: after content: "";
        border-right: .2rem solid;
        opacity: 0;
    }

    50% {
        .container h2: after content: "";
        border-right: .2rem solid;
        opacity: 50%;
    }

    100% {
        .container h2: after content: "";
        border-right: .2rem solid;
        opacity: 0;
    }
}